<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @specialist.speciality %>
</p>


<p>
  <strong>Future Appointments:</strong>
<ul>
  <% @specialist.appointments.where(["appointment_date >= ?", Date.today() ] ).each  do |arg| %>
      <li> <%= "#{arg.patient.name} (#{arg.appointment_date.to_formatted_s(:long)}) in #{(arg.appointment_date.mjd-Date.today.mjd)} days." %></li>
  <% end %>
</ul>

</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
