<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.name %>
</p>

<p>
  <strong>Specialist Log:</strong>
  <ul>
    <% @patient.appointments.order("appointment_date").each do |arg| %>
    <li> <%= "#{arg.specialist.name} (#{arg.appointment_date})" %></li>
    <% end %>
  </ul>

</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
